<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>
    <h2>To Do </h2>

    <h3><a href="/alltasks"</h3>

    <h3><a href="/signup">Sign Up</a>/<a href="/login"> Login</a></h3>
<body>
    
</body>
</html>